// Here you can add other styles
button:focus{
	outline: none;
}
.main{
	background: white;
}
.app-header{
	height: 64px;
}
.app-header .navbar-brand{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 23px;
    justify-content: left;
    width: 220px;
    margin-right: 12px;
}
.header-fixed .app-body{
	margin-top: 64px;
}
.navbar-brand .dashboard-ui {
	margin-left: 18px;
	width: 118px;
	height: 24px;
	font-family: Lato;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	color: #97a0af;
}
.navbar-brand .dashboard-ui .ui-bold {
	font-weight: bold;
	color: black;
}
.rectangle-2 {
	width: 1px;
	height: 35px;
	background-color: #dddddd;
	margin-left: 28px;
}
.sidebar{
	background: #172b4d;
}
.sidebar .sidebar-header{
	width: 220px;
	height: 214px;
	background: linear-gradient(to bottom, rgba(45, 76, 119, 0), #142542), url("/img/fte-ui/avatar-bg.png") no-repeat;
	background-size: contain;
	padding: 40px 14px 16px 14px;
}
.sidebar .nav-link{
	opacity: 0.6;
	font-size: 14px;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover{
	background: #ffc400;
	opacity: 1;
}
.sidebar .nav-link.active .nav-icon{
	color: #ffffff;
}
.sidebar .sidebar-nav,{
	width: 220px;
	margin-top: -1px;
}
.sidebar .nav{
	width: 220px;
}
.sidebar .nav-title{
	background: #8993a4;
	color: #142542;
	height: 28px;
	padding: 6px 16px; 
	font-family: Lato;
	font-size: 12px;
	font-weight: 900;
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -220px;
}
.sidebar-header .user-avatar{
	width: 58px;
	height: 58px;
	margin-bottom: 6px;
}
.sidebar-header .user-username{
	font-family: Lato;
	font-size: 18px;
	font-weight: normal;
}
.sidebar-header .user-action{
	font-family: Lato;
	font-size: 18px;
	font-weight: normal;
	display: flex;
	margin-top: 26px;
	margin-left: 4px;
}
.sidebar-header .user-action a{
	text-decoration: none;
	color: white;
}
.sidebar-header .user-action a div{
	margin-top: -2px;
}
.sidebar-header .text-icon{
	font-size: 12px;
}
.sidebar-header .user-action div.user-profile,
.sidebar-header .user-action div.user-logout{
	margin-left: 32px;
}
.main .breadcrumb{
	border: none;
	font-family: Lato;
	font-size: 14px;
	padding-top: 0px;
}
.main h1.title-page{
	font-size: 20px;
	font-family: Lato;
	font-weight: bold;
	margin-left: 16px;
	margin-top: 24px;
	margin-bottom: 6px;
}
.app-footer{
    border-top: 1px solid #dce2e6;
    padding: 0 2rem;
}
.app-footer .text-footer{
	font-family: Lato;
	font-size: 14px;
	font-weight: normal;
  	color: #97a0af;
}
.app-footer .text-footer .text-bold{
	font-weight: bolder;
	color: black;
}

@media (min-width: 992px){
	.sidebar-fixed .sidebar {
		width: 220px;
	}
	html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
	html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
	html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
	html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
	    margin-left: 220px;
	}
}