// Here you can add other styles
button:focus{
	outline: none;
}
.app-header{
	height: 64px;
}
.app-header .navbar-brand{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 23px;
    justify-content: left;
    width: 220px;
    margin-right: 12px;
}
.header-fixed .app-body{
	margin-top: 64px;
}
.navbar-brand .dashboard-ui {
	margin-left: 18px;
	width: 118px;
	height: 24px;
	font-family: Lato;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	color: #97a0af;
}
.navbar-brand .dashboard-ui .ui-bold {
	font-weight: bold;
	color: black;
}
.rectangle-2 {
	width: 1px;
	height: 35px;
	background-color: #dddddd;
	margin-left: 28px;
}
.sidebar{
	background: #172b4d;
}
.sidebar .sidebar-header{
	width: 220px;
	height: 214px;
	background: url("/img/fte-ui/avatar-bg.png") no-repeat;
	background-size: contain;
	padding: 40px 14px 16px 14px;
}
.sidebar .nav-link{
	opacity: 0.6;
	font-size: 14px;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover{
	background: #ffc400;
	opacity: 1;
}
.sidebar .nav-link.active .nav-icon{
	color: #ffffff;
}
.sidebar .sidebar-nav,{
	width: 220px;
	margin-top: -1px;
}
.sidebar .nav{
	width: 220px;
}
.sidebar .nav-title{
	background: #8993a4;
	color: #142542;
	height: 28px;
	padding: 6px 16px; 
	font-family: Lato;
	font-size: 12px;
	font-weight: 900;
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -220px;
}

@media (min-width: 992px){
	.sidebar-fixed .sidebar {
		width: 220px;
	}
	html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
	html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
	html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
	html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
	    margin-left: 220px;
	}
}